#title {
	width: auto;
    text-align: center;
    height: 50px;
    margin: auto;
}
#subtitle {
	width: auto;
    text-align: center;
    height: 50px;
    margin: auto;
}
#date {
	width: auto;
    text-align: center;
    height: 50px;
    margin: auto;
}
section {
    width: 60%;
    margin: auto;
}