html,body {
  padding:0;
  margin:0;
}

.name {
	font-family: "Bad Script", Arial;
  font-size: 2em;
  font-weight: 900;
  color: #132028;
  padding: 1%;
  display: inline-block;
}

.nav-bar {
	background-color: #ADE0EE;
	margin: 0;
}

.profile-pic {
	display: inline-block;
	border-radius: 100%;
	padding: 0.5%;
	float: left;
}

.splash {
	margin: 0;
	padding: 0;
	background-image: url("https://download.unsplash.com/photo-1422640805998-18a4dd89bec2");
	background-size: 100% 100%;
	height: 600px;
}

.welcome {
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 0;
  font-family: "Raleway", Arial;
  padding-top: 15%;
}

.header {
  text-align: center;
  font-size: 2em;
  font-family: "Raleway", Arial;
  margin: 0;
  color: #93B6D9;
  padding: 1%;
}

.items {
	display: inline-block;
	font-family: "Raleway", Arial;
	padding: 1% 2%;
	float: right;
}


.about {
  background-color: #121f27;
}

p.intro {
  color: #93B6D9;
  text-align: center;
  padding: 1% 5%;
  font-family: "Raleway", Arial;
}

img.skills {
  height: 100px;
  width: 100px;
  padding: 1%;
}

.skill {
  text-align: center;
  padding: 1%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.project {
  font-family: "Raleway", Arial;
}
